# Files and folders to be ignored by git

# IntelliJ specific files and folders
.idea/
*.iml
out/

# Maven
target/

# Stage specific files and folders
Stage/
src/main/java/LaunchApp.java
View/
resources/
